<h2>Who are we?</h2>
<div class="row">
  <div class="col-xs-12">
    <h4>So... we are bossmesser, a tool that allows you to sent an constructive email to your boss, but... anonymously :)</h4>
    <p>And by constructive, we mean it. Trust us, nothing will help you more than a really constructive statement. Rage will always bring you results that you don't really want. Works better for you and your boss to manage your relation problems.</p>

    <p>If you are a Boss that had been messed, please, don't take it personal. Sometimes people just go mad. But, we hope you have received a nice feedback, if not, just ignore it, after all we all make mistakes right?</p>
    <p>And, huh, if you want you still can send us an email at contact@bossmesser.com and we can send you a nice leadership consultant that will improve your work and relations for good.</p>

  </div>
</div>