<h3>you have confirmed your domain address and now, you are allowed to send a anonym message for any address on the domain: <%= @domain.domain %></h3>

<p>If you send suggestions and constructive material, you probably get better results than actually just messing with your boss. How about that?</p>

<div class="row show-grid">
  <div class="col-xs-4">
    <%= form_for @message, :url => pay_for_message_path do |f| %>
        <%= hidden_field_tag :code, @domain.code %>
        <div class="row">
          <%= f.text_field :to, :placeholder => 'ex: my_dear_boss', :class => 'mail_name text' %>@<%= @domain.domain %>
        </div>
        <div class="row">
          Message:
        </div>
        <div class="row">
          <%= f.text_area :message, :class => 'mail_message', :maxlength => "1000", :placeholder => "Hey, be polite. It works better then otherwise. Trust us."  %>
        </div>
        <div class="row">
          <%= f.button 'Send Anonym Message', :class => 'mail_button' %>
        </div>
    <% end %>
  </div>
  <div class="col-xs-8">
    <h3>Hey, listen up: We can EXCLUSIVELY send an anonymous email for you but we cannot PROTECT you from being found. This is because there are other ways from being discovered, and also the non-tech ways. Our Suggestion: BE POLITE AND CONSTRUCTIVE. It worth it.</h3>
    <h4>Bad words WILL BE SANITIZED.</h4>
    <strong>By Clicking on 'Send Anonym Message' to send this anonymous message, accept our terms and conditions and accept that your email contains no illegal,
      abusing, harrassing or likewise content. Also you declare yourself responsible for anything that is on its content.</strong>
    <p>After you send your message a link will be sent to YOUR email. It you change your mind, you have two days to cancel its submition by clicking on it. If you dont't, your message will be delivered automatically in 2 days.</p>

  </div>
</div>

