<div class="text-wrap">
  <strong class="title">Send a nice constructive email to your Boss... Anonymously... for 1$ :)</strong>
  <%= form_tag check_your_mail_path, :class => 'signup-form' do %>
      <fieldset>
        <div class="row">
          <%= email_field_tag :youremail, '' ,:required => true, :placeholder => 'Enter YOUR email address' %>
          <%= button_tag 'Send Confirmation' %>
        </div>
        <span class="info">Hey... be constructive, is not because you are anonymous that you need to be a prick. And... we WILL show your email if you <strong>violate our terms of use and the law ask us to do so</strong>. This is just an anonymous email tool, also there are a billion ways to be discovered, so... be nice! We assure you that the email will be sent from feedback@bossmesser.com, not that it will be impossible to track you.</span>
      </fieldset>
  <% end %>
</div>
