<h2>Terms & Conditions</h2>
<div class="row">
  <div class="col-xs-12">
    <p>By sending a fake email or prank email you may be committing the offence of fraud even you did not intend to. You are not allowed to use this service for any illegal activites at any time. </p>
    <table border="0" cellspacing="4" cellpadding="4">
      <tbody><tr>
        <td><p><strong>Send BOSSMESSER Emails Terms and Conditions<br>
          <br>
          MODIFICATION
          OF THESE TERMS OF USE</strong><br>
          BOSSMESSER reserves the right to change the terms, conditions,
          and notices, including but not limited to the charges associated
          with the use of the BOSSMESSER Sites/Services. You are responsible
          for regularly reviewing these terms and conditions and additional
          terms posted on particular websites. Your continued use of
          the BOSSMESSER Sites/Services constitutes your agreement
          with BOSSMESSER to all such terms, conditions, and notices.</p>
          <p><br>
            <strong>PERSONAL AND NON-COMMERCIAL USE LIMITATION</strong><br>
            Unless otherwise specified, the BOSSMESSER Sites/Services
            are for your personal and non-commercial use. You may not modify,
            copy, distribute, transmit, display, perform, reproduce, publish,
            license, create derivative works from, transfer, or sell any
            information, software, products or services obtained from the
            BOSSMESSER Sites/Services. Without the advance express written
            permission of TrashMail, you may not use the BOSSMESSER Sites/Services
            in any commercial manner.</p>
          <p><br>
            <strong>LINKS TO THIRD PARTY SITES</strong><br>
            The BOSSMESSERSites/Services may contain links to third party
            Web sites ("Linked Sites"). The Linked Sites are not under
            the control of&nbsp; myTrashMai land BOSSMESSER is not responsible
            for the contents of any Linked Site. The inclusion of any link
            does not imply endorsement by BOSSMESSER of the site or any
            association with its operators. <br>
            Any dealings with third parties, including the delivery of
            and the payment for goods and services, and any other terms,
            conditions, warranties or representations associated with such
            dealings or promotions, are solely between you and the third
            party. BOSSMESSERshall is not be responsible or liable for
            any part of any such dealings.</p>
          <p><br>
            <strong>NO UNLAWFUL OR PROHIBITED USE</strong><br>
            As a condition of your use of the BOSSMESSER Sites/Services,
            you will not use the BOSSMESSER Sites/Services for any purpose
            that is <strong>unlawful or prohibited by these terms</strong>,
            conditions, and notices. You may not use the BOSSMESSER Sites/Services
            in any manner that could damage, disable, overburden, or impair
            any BOSSMESSER Site/Service(s) (or the network(s) connected
            to any BOSSMESSER Site/Service(s)) or interfere with any other
            party's use and enjoyment of any&nbsp;BOSSMESSER Site/Service(s).
            You may not attempt to gain unauthorized access to any&nbsp;BOSSMESSER
            Site/Service, other accounts, computer systems or networks
            connected to any BOSSMESSER Site/Service. You may not obtain
            or attempt to obtain any materials or information through any
            means not intentionally made available through the&nbsp;BOSSMESSER
            Sites/Services.</p>
          <p><br>
            <strong>USE OF SERVICES</strong><br>
            The BOSSMESSER Sites/Services contain e-mail services designed
            to enable you to communicate with others (collectively, "Communication
            Services"). You agree to use the Communication Services only
            to post, send and receive messages and material that are proper.
            By way of example, and not as a limitation, you agree that
            when using a Communication Service, you will not:<br>
            <br>
            - Use the Communication Service in connection with surveys,
            contests, pyramid schemes, chain letters, junk email, spamming
            or any duplicative or unsolicited messages (commercial or otherwise). <br>
            - Defame, abuse, harass, stalk, threaten or otherwise violate
            the legal rights (such as rights of privacy and publicity)
            of others. <br>
            - Publish, post, upload, distribute or disseminate any inappropriate,
            profane, defamatory, obscene, indecent or unlawful topic, name,
            material or information. <br>
            - Publish, post, upload, distribute or disseminate any topic,
            name, material or information that incites discrimination,
            hate or violence towards one person or a group because of their
            belonging to a race, a religion or a nation, or that insults
            the victims of crimes against humanity by contesting the existence
            of those crimes <br>
            - Upload, or otherwise make available, files that contain images,
            photographs, software or other material protected by (i) intellectual
            property laws, including, by way of example, and not as a limitation,
            copyright or trademark laws or (ii) by rights of privacy or
            publicity, if any unless you own or control the rights thereto
            or have received all necessary consents to do the same. <br>
            - Use any material or information, including images or photographs,
            which is made available through the&nbsp;BOSSMESSER Sites/Services
            in any manner that infringes any copyright, trademark, patent,
            trade secret, or other proprietary right of any party. <br>
            - Upload files that contain viruses, Trojan horses, worms,
            time bombs, cancelbots, corrupted files, or any other similar
            software or programs that may damage the operation of another's
            computer or property of another. <br>
            - Advertise or offer to sell or buy any goods or services for
            any business purpose, unless such Communication Service specifically
            allows such messages. <br>
            - Download any file posted by another user of a Communication
            Service that you know, or reasonably should know, cannot be
            legally distributed in such manner. <br>
            - Falsify or delete any author attributions, legal or other
            proper notices or proprietary designations or labels of the
            origin or source of software or other material contained in
            a file that is uploaded. <br>
            - Restrict or inhibit any other user from using and enjoying
            the Communication Services. <br>
            - Violate any applicable laws or regulations. <br>
            - Use, download or otherwise copy, or provide (whether or not
            for a fee) to a person or entity any directory of users of
            an BOSSMESSER Site/Service(s) or other user or usage
            information or any portion thereof.
          </p><p>BOSSMESSER has&nbsp;no obligation to monitor the Communication
          Services. However, BOSSMESSER reserves the right to review
          materials posted to a Communication Service and to remove any
          materials in its sole discretion. BOSSMESSER reserves the
          right to terminate your access to any or all of the Communication
          Services at any time, without notice, for any reason whatsoever.&nbsp;<br>
          <strong>BOSSMESSER reserves the right at all times to disclose
            any information as BOSSMESSER deems necessary to satisfy
            any applicable law, regulation, legal process or governmental
            request</strong>, or to edit, refuse to post or to remove
          any information or materials, in whole or in part, in BOSSMESSER's
          sole discretion.<br>
          <br>
          BOSSMESSER&nbsp;does not control or endorse the content, messages
          or information found in any Communication Service and, therefore,&nbsp;BOSSMESSER
          specifically disclaims any liability with regard to the Communication
          Services and any actions resulting from your participation
          in any Communication Service. <br>
          <br>
          Materials uploaded to a Communication Service may be subject
          to posted limitations on usage, reproduction and/or dissemination,
          you are responsible for adhering to such limitations if you
          download the materials. </p>
          <p>You agree that BOSSMESSER may establish limits concerning
            use of any BOSSMESSER Service offered on an BOSSMESSER Web
            Site, including without limitation the maximum number of days
            that e-mail messages will be retained by any BOSSMESSER Service,
            the maximum number of e-mail messages that may be sent from
            or received by an account on any BOSSMESSER Service, the maximum
            size of an e-mail message that may be sent from or received
            by an account on any BOSSMESSER Service, the maximum disk
            space that will be allotted on BOSSMESSER's servers on your
            behalf, and the maximum number of times and duration you may
            access any BOSSMESSER Service in a given period of time. <br>
            <br>
            You agree that BOSSMESSER has no responsibility or liability
            for the deletion, corruption or failure to store any messages
            or other content maintained or transmitted by any BOSSMESSER
            Service. You acknowledge that BOSSMESSER reserves the right
            to log off accounts that are inactive for an extended period
            of time without notice.
          </p><p><strong>COMPLAINTS/ABUSE<br>
        </strong>Abuse of the BOSSMESSER system can be reported to this <a href="mailto:contact@BOSSMESSER.com">email address</a>. This system is not for abuse .Abusers IPs can be released here.<strong><br>
        </strong><br>
          <strong>MATERIALS PROVIDED TO BOSSMESSER OR POSTED AT ANY
            BOSSMESSER WEB SITE</strong><br>
          BOSSMESSER does not claim ownership of the materials you provide
          to BOSSMESSER (including feedback and suggestions) or post,
          upload, input or submit to any BOSSMESSER Site/Service or
          its associated services for review by the general public, or
          by the members of any public or private community, (each a "Submission" and
          collectively "Submissions"). However, by posting, uploading,
          inputting, providing or submitting ("Posting") your Submission
          you are granting BOSSMESSER (i) permission to use your Submission
          in connection with the operation of Internet businesses (including,
          without limitation, all BOSSMESSER Site/Services) (ii) the
          license rights to: copy, distribute, transmit, publicly display,
          publicly perform, reproduce, edit, translate and reformat your
          Submission; to publish your name in connection with your Submission;
          (iii) and the right to sublicense such rights to any supplier
          of a BOSSMESSER Site/Service.<br>
          <br>
          No compensation will be paid with respect to the use of your
          Submission, as provided herein. BOSSMESSER is under no obligation
          to post or use any Submission you may provide and BOSSMESSER
          may remove any Submission at any time in its sole discretion. <br>
          By Posting a Submission you warrant and represent that you
          own or otherwise control all of the rights to your Submission
          as described in these Terms of Use including, without limitation,
          all the rights necessary for you to provide, post, upload,
          input or submit the Submissions. <br>
          This section is inapplicable to any personally identifiable
          information that you provide in connection with your use of
          the BOSSMESSER Sites/Services. For terms and conditions governing
          the use of such information please refer to the Privacy Policy.
        </p><p><br>
          <strong>CONTENT AVAILABLE THROUGH THE BOSSMESSER SITES/SERVICES </strong><br>
          All content (if any) that is made available to view and/or
          download in connection with the BOSSMESSER Sites/Services,
          excluding content and/or software that may be made available
          by end-users through a Communication Service, is owned by and
          is the copyrighted work of BOSSMESSER and/or its suppliers
          and is protected by copyright laws and international treaty
          provisions. <br>
          Any reproduction or redistribution of the content is expressly
          prohibited by law, and may result in severe civil and criminal
          penalties. Violators will be prosecuted to the maximum extent
          possible. WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION
          OF THE CONTENT AND/OR SOFTWARE TO ANY OTHER SERVER OR LOCATION
          FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED.<br>
          &nbsp;
        </p><p><strong>LIABILITY DISCLAIMER</strong> <br>
          THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED
          IN OR AVAILABLE THROUGH THE BOSSMESSER SITES/SERVICES MAY
          INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY
          MADE TO THE BOSSMESSER SITES/SERVICES AND TO THE INFORMATION
          THEREIN. BOSSMESSER AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE
          IMPROVEMENTS AND/OR CHANGES IN THE BOSSMESSER SITES/SERVICES
          AT ANY TIME. ADVICE RECEIVED VIA THE BOSSMESSER SITES/SERVICES
          SHOULD NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL
          DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL
          FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION. <br>
          <br>
          BOSSMESSER AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO
          REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY,
          TIMELINESS, LACK OF VIRUSES OR OTHER HARMFUL COMPONENTS AND
          ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND
          RELATED GRAPHICS CONTAINED WITHIN THE BOSSMESSER SITES/SERVICES
          FOR ANY PURPOSE. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS,
          SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT
          WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. TO THE FULLEST EXTENT
          PERMITTED BY LAW. BOSSMESSER AND/OR ITS RESPECTIVE
          SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES, CONDITIONS AND OTHER
          TERMS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS,
          SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES,
          CONDITIONS OR OTHER TERMS OF SATISFACTORY QUALITY, MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, TITLE
          AND NON-INFRINGEMENT. <br>
          <br>
          YOU SPECIFICALLY AGREE THAT BOSSMESSER SHALL NOT BE RESPONSIBLE
          FOR UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS
          OR DATA, ANY MATERIAL OR DATA SENT OR RECEIVED OR NOT SENT
          OR RECEIVED, OR ANY TRANSACTIONS ENTERED INTO THROUGH A BOSSMESSER
          SITE/SERVICE. YOU SPECIFICALLY AGREE THAT BOSSMESSER IS NOT
          RESPONSIBLE OR LIABLE FOR ANY THREATENING, DEFAMATORY, OBSCENE,
          OFFENSIVE OR ILLEGAL CONTENT OR CONDUCT OF ANY OTHER PARTY
          OR ANY INFRINGEMENT OF ANOTHER'S RIGHTS, INCLUDING INTELLECTUAL
          PROPERTY RIGHTS. YOU SPECIFICALLY AGREE THAT BOSSMESSER IS
          NOT RESPONSIBLE FOR ANY CONTENT SENT USING AND/OR INCLUDED
          IN A BOSSMESSER SITE/SERVICE BY ANY THIRD PARTY. <br>
          TO THE FULLEST EXTENT PERMITTED BY LAW IN NO EVENT SHALL BOSSMESSER
          AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
          INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER
          INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA
          REVENUES OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED
          WITH THE USE OR PERFORMANCE OF THE BOSSMESSER SITES/SERVICES,
          WITH THE DELAY OR INABILITY TO USE THE BOSSMESSER SITES/SERVICES
          OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE
          SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES
          AND RELATED GRAPHICS OBTAINED THROUGH THE BOSSMESSER SITES/SERVICES,
          OR OTHERWISE ARISING OUT OF THE USE OF THE PRANK MAIL SITES/SERVICES,
          WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY
          OR OTHERWISE, EVEN IF BOSSMESSER OR ANY OF ITS SUPPLIERS HAS
          BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS
          DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL
          OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO
          YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE BOSSMESSER
          SITES/SERVICES, OR WITH ANY OF THESE TERMS OF USE, TO THE FULLEST
          EXTENT PERMISSIBLE BY ENGLISH LAW, YOUR SOLE AND EXCLUSIVE
          REMEDY IS TO DISCONTINUE USING THE BOSSMESSER SITES/SERVICES.
          THE LIMITATIONS ON AND EXCLUSIONS OF LIABILITY FOR DAMAGES
          IN THIS AGREEMENT APPLY REGARDLESS OF WHETHER THE LIABILITY
          IS BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
          STRICT LIABILITY, BREACH OF WARRANTIES, OR ANY OTHER LEGAL
          THEORY. <br>
          STORAGE SPACE AND OTHER LIMITATIONS.<br>
          <br>
          BOSSMESSER MAKES NO WARRANTY THAT ANY BOSSMESSER SERVICE
          WILL BE UNINTERRUPTED, TIMELY SECURE OR ERROR-FREE.

        </p><p><br>
          <strong>TERMINATION/ACCESS RESTRICTION</strong><br>
          BOSSMESSER reserves the right, in its sole discretion, to
          terminate your access to any or all BOSSMESSER Sites/Services
          and the related services or any portion thereof at any time,
          without notice. <br>
          <br>
          BOSSMESSER shall have no obligation to maintain any content
          or to forward any unread or unsent messages to you or any third
          party.

        </p><p><br>
          <strong>GENERAL</strong><br>
          This agreement is governed by the laws of Brazil. You hereby
          irrevocably consent to the exclusive jurisdiction and venue
          of the Brazilian courts. in all disputes arising out of or
          relating to the use of the BOSSMESSER Sites/Services. You
          agree that no joint venture, partnership, employment, or agency
          relationship exists between you and BOSSMESSER as a result
          of this agreement or use of the BOSSMESSER Sites/Services.
          You agree to indemnify and hold BOSSMESSER, its parents, subsidiaries,
          affiliates, officers and employees, harmless from any claim,
          demand, or damage, including reasonable legal fees on a solicitor-client
          basis, asserted by any third party due to or arising out of
          your use of or conduct on the BOSSMESSER Sites/Services. If
          any part of this agreement is determined to be invalid or unenforceable
          pursuant to applicable law including, but not limited to, the
          warranty disclaimers and liability limitations set forth above,
          then the invalid or unenforceable provision will be deemed
          superseded by a valid, enforceable provision that most closely
          matches the intent of the original provision and the remainder
          of the agreement shall continue in effect. BOSSMESSER will
          not be liable to you for any breach of these Terms of Use,
          which arise because of any circumstances that BOSSMESSER cannot
          reasonably be expected to control. Unless otherwise specified
          herein, this agreement constitutes the entire agreement between
          the user and BOSSMESSER with respect to the BOSSMESSER Sites/Services.<br>
        </p></td>
      </tr>
      </tbody></table>
  </div>
</div>