<h1>Your message will be delivered to your boss in two days! We hope it was constructive. <strong>If you think better and decides to cancel the delivery, please click at the link that we just sent to your mail</strong>, but keep in mind there will be no refund.</h1>