<table class="centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
  <tbody><tr>
    <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #eded5f;width: 1px">​</td>
    <td style="padding: 0;vertical-align: top">
      <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px">
        <tbody><tr>
          <td class="column" style="padding: 0;vertical-align: top;text-align: left">
            <div><div class="column-top" style="font-size: 32px;line-height: 32px">&nbsp;</div></div>
            <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
              <tbody><tr>
                <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px">

                  <h1 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 42px">You have received a feedback from your employee</h1>
                  <h3 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 42px">Don't Worry, it's just a copy.</h3>
                  <strong style="font-weight: bold">Beginning of the Message:</strong>
                  <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"><%= @message %></p>
                  <strong style="font-weight: bold">End of the Message:</strong>
                  <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px">Hope it was constructive, and if it wasn't, dont bother yourself. Sometimes people just want to say stuff.</p>
                  <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px">But if you tought that it was constructive and want to improve, how about a consulting process? Send an email to <a href="mailto:contact@bossmesser.com">contact@bossmesser.com</a> and we'l figure out how to help.</p>
                </td>
              </tr>
              </tbody></table>

            <div class="column-bottom" style="font-size: 8px;line-height: 8px">&nbsp;</div>
          </td>
        </tr>
        </tbody></table>
    </td>
    <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #eded5f;width: 1px">​</td>
  </tr>
  </tbody>
</table>