<!DOCTYPE html>
<html>
<head>
  <title>BossMesser</title>

  <link rel="icon" href="favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="BossMesser - Send a Anonymous and (please) Constructive feedback to your Boss."/>
  <meta property="og:site_name" content="BossMesser" />
  <meta property="og:image" content="http://www.bossmesser.com/bossmesser-mail.png"/>
  <meta property="og:url" content="http://www.bossmesser.com/"/>
  <meta property="og:type" content="webtool"/>
  <meta property="og:description" content="A service that allows you to send a constructive feedback for your boss. Hey, messer is just the name, be kind as you expect people will be with yourself."/>

  <meta name="description" content="A service that allows you to send a constructive feedback for your boss. Hey, messer is just the name, be kind as you expect people will be with yourself.">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="inner">
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '532606873508588',
            xfbml      : true,
            version    : 'v2.2'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59221485-1', 'auto');
    ga('send', 'pageview');

</script>
<div
class="fb-like"
data-share="true"
data-width="450"
data-show-faces="true">
</div>

<div id="wrapper">

  <header id="header">
    <div class="container">
      <div class="header-text">
        <div class="logo-holder">
          <a href="#"><%= image_tag 'bossmesser.png' %></a>
        </div>

        <%= yield %>

      </div>
    </div>
  </header>
  <footer id="footer">
    <nav class="footer-nav">
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Terms & Conditions', terms_path %></li>
      </ul>
    </nav>
  </footer>
</div>

</body>

</html>


